/* login.css */

/* Container geral */
<<<<<<< HEAD
=======
body {
    font-family: 'Roboto', sans-serif;
}

>>>>>>> 0121ab3469b69d2efad871d54eb8a79401b23db9
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
    background-color: #f3f3f3;
}

/* Formulário */
.form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-size: 24px;
    color: #333;
}

.login-button button {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.login-button button a {
    text-decoration: none;
    color: inherit;
}

.input-group {
    margin-top: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.continue-button button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #218838;
<<<<<<< HEAD
}
.success-message {
    color: #28a745;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
=======
>>>>>>> 0121ab3469b69d2efad871d54eb8a79401b23db9
}
